<div class="wrap">
    <nav class="circ">
        <ul>
            <li class="active">
                <a href="#">Category 1</a>
            </li>
            <li>
                <a href="#">Category 2</a>
            </li>
            <li>
                <a href="#">Category 3</a>
            </li>
            <li>
                <a href="#">Category 4</a>
            </li>
            <li>
                <a href="#">Category 5</a>
            </li>
            <li>
                <a href="#">Category 6</a>
            </li>
            <li>
                <a href="#">Category 7</a>
            </li>
            <li>
                <a href="#">Category 8</a>
            </li>
            <li>
                <a href="#">Category 9</a>
            </li>
        </ul>

        <div class="info"></div>
    </nav>
    <nav class="circ2">
        <ul>
            <li>
                <a href="#">
                    Sub 1
                </a>
            </li>
            <li>
                <a href="#">Sub 2</a>
            </li>
            <li>
                <a href="#">Sub 3</a>
            </li>
        </ul>

        <div class="info"></div>
    </nav>
</div>