<div class="content-container">
    <div class="product-tabs">
        <div class="product-tab active">
            <div class="product-tab__head"><span>Unser Vorschlag</span></div>
            <div class="product-tab__content">
                <div class="product-details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio, dolorum ducimus eos eum exercitationem nemo obcaecati quae quam quasi quo ratione recusandae rem, saepe tempore, veniam vero voluptate voluptatem?
                </div>
            </div>
        </div>

        <div class="product-tab">
            <div class="product-tab__head"><span>Ihre Konfiguration</span></div>
            <div class="product-tab__content">
                <div class="product-details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio, dolorum ducimus eos eum exercitationem nemo obcaecati quae quam quasi quo ratione recusandae rem, saepe tempore, veniam vero voluptate voluptatem?
                </div>
            </div>
        </div>

        <div class="product-tab">
            <div class="product-tab__head"><span>Unser Vorschlag</span></div>
            <div class="product-tab__content">
                <div class="product-details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio, dolorum ducimus eos eum exercitationem nemo obcaecati quae quam quasi quo ratione recusandae rem, saepe tempore, veniam vero voluptate voluptatem?
                </div>
            </div>
        </div>
    </div>
</div>
