<div class="product">

    <h3 class="name">Serie | 6 Avantixx</h3>
    <p class="model">WAQ28322 Waschvollautomat</p>
    <!--<div class="flex">-->
        <!--<img src="./img/item.jpg" class="photo" alt="">-->
        <!--<div class="rate">-->
            <!--<p>Kundenbewertung</p>-->
            <!--<ul>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
                <!--<li></li>-->
            <!--</ul>-->
            <!--<span>5.0</span>-->
            <!--<span>(1 Bewertung)</span>-->
        <!--</div>-->

    <!--</div>-->
    <div class="description">
        <p ><span>Die Serie 6 mit EcoSilence Drive™:</span>
            verlassen Sie sich auf Laufruhe und Langlebigkeit.
        </p>
        
        <ul>
            <li>
                <span> EcoSilence Drive™:</span>
                extrem energiesparend und leise im Betrieb bei besonders hoher Lebensdauer.
            </li>
            <li>
                <span>Energieeffizienz A+++ -20%:</span>
                noch mal 20 % sparsamer als die beste Klasse.
            </li>
            <li>
                <span>VarioPerfect™:</span>
                spart bis zu 65 % Zeit oder 50 % Energie dank zuschaltbaren Programmoptionen.
            </li>
            <li>
                <span>AllergiePlus / ECARF Qualitätssiegel:</span>
                speziell für die Bedürfnisse von Allergikern entwickelt.
            </li>
            <li>
                <span>VarioTrommel™:</span>
                schonend waschen dank einzigartiger Trommel-Struktur.
            </li>

        </ul>
    </div>

    <button class="btn_detailes">Zu den Produktdetails</button>

</div>